.bicicletas-listas{
    padding-top: 60px;
    padding-bottom: 120px;
}

.bicicletas-listas h2 {
    margin-bottom: 40px;
}

.bicicletas-listas ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: auto;
}

.bicicletas-listas a {
    display: block;
}

.bicicletas-listas img {
    margin-bottom: 1rem;
}

.bicicletas-listas h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.bicicletas-listas h3::before {
    content: "";
    width: 12px;
    height: 8px;
    margin-right: 8px;
    display: inline-block;
    background-color: var(--cor-p1);
        transition: width .3s;
}

.bicicletas-listas a:hover h3::before {
    width: 24px;
}

.bicicletas-listas li {
    min-width: 280px;
}

.bicicletas-listas li span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .bicicletas-listas {
        padding-bottom: 60px;
    }
    .bicicletas-listas ul {
        gap: 20px;
    }
}